* {
  margin: 0;
  padding: 0;
}
.carousal-img {
  height: 70vh;
  width: 100vw;
  background-size: cover;
}
/* 2nd-part-start */

.img-2 {
  border-radius: 50%;
  width: 5.8vw;
  height: 8.5vh;
  margin-bottom: 15px;
}
.txt-cen {
  text-align: center;
}
.btn-3 {
  font-family: "David Libre", serif;
  font-size: 16px;
  border-radius: 25px 24px;
  text-decoration: none;
  width: 6.5vw;
  height: 3.7vh;
  color: black;
  background-color: aliceblue;

  text-align: center;
  padding-top: 2px;
}
.sce-45 {
  display: flex;
  margin-top: 15vh;
  margin-left: 15vw;
}
.all-sec {
  padding: 1.5%;
  margin: 2.5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  height: 45vh;
}
.all-sec center p {
  line-height: 25px;
  margin-top: 15px;
  width: 17vw;
}
/*this carlouse of index page*/
* {
  margin: 0;
  padding: 0;
}
.first-slide {
  background-image: url(/images/humberto-chavez-FVh_yqLR9eA-unsplash.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
}
.secnd-slide {
  background-image: url(/images/science-in-hd-9kSTF9PvETM-unsplash.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
}
.third-slide {
  background-image: url(/images/daan-stevens-yGUuMIqjIrU-unsplash.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
}
.first-slide div {
  padding-top: 19rem;
  padding-left: 13rem;
}
.first-slide div h1 {
  font-size: 45px;
  width: 20rem;
}
.first-slide div p {
  color: white;
  font-size: 25px;
  padding-left: 5px;
  width: 25rem;
}
.secnd-slide div {
  color: aliceblue;
  float: right;
  padding-top: 17rem;
  padding-right: 13rem;
}
.secnd-slide div h1 {
  font-size: 45px;
  width: 20rem;
}
.secnd-slide div p {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 5px;
  width: 25rem;
}
.third-slide div {
  color: aliceblue;
  float: right;
  padding-top: 17rem;
  padding-right: 13rem;
}
.third-slide div h1 {
  font-size: 45px;
  width: 20rem;
}
.third-slide div p {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 5px;
  width: 25rem;
}
